@import "./reset.css";
@import "./Utils.scss";

.warp {
  font-family: "Pretendard-Regular";
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  box-sizing: border-box;
}

.logo {
  width: 150px;
  cursor: pointer;
}

.main {
  width: 100%;
  min-height: calc(100vh - 60px);
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &__introduce {
    width: 100%;
    padding: 0px 60px 0px 80px;
    box-sizing: border-box;
    margin-bottom: 20px;
    h1 {
      font-size: 1.5em;
      font-weight: 800;
    }
  }

  &__scrollbutton {
    width: 50px;
    height: 50px;
    box-shadow: 0 3px 10px 2px #999;
    background-color: #5bb318;
    border-radius: 30px;
    position: fixed;
    right: 5%;
    bottom: 4%;
    z-index: 1;
    cursor: pointer;
  }
}

.loading {
  width: 100%;
  height: 100px;
}

.recipelist {
  width: 100%;
  height: fit-content;
  padding: 10px 60px 10px 60px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 50px;
  justify-content: center;
}

.recipe {
  cursor: pointer;
  height: 250px;
  border-radius: 30px;
  box-shadow: 0 5px 18px -7px #999;
  text-align: center;
  text-overflow: ellipsis;
  text-decoration-line: none;

  img {
    width: 100%;
    max-width: 450px;
    height: 60%;
    max-height: 150px;
    border-radius: 30px 30px 0px 0px;
    object-fit: cover;
  }

  &__item {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;

    h1 {
      font-size: 1.5em;
      margin-bottom: 0.4em;
      text-overflow: ellipsis;
      color: #191a19;
      font-weight: 600;
    }
    span {
      font-size: 1em;
      color: #191a19;
    }
  }
}

.searchbar {
  width: 50%;
  min-height: 50px;
  margin: 30px 0 40px 0;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border: 1px solid #999;
  border-radius: 30px;

  &__inputitem {
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
    ::placeholder {
      text-align: center;
      font-size: 1em;
    }

    select {
      min-width: 25%;
      margin-right: 10px;
      border: 0px;
      outline: 0px;
      text-align: center;
    }

    input {
      width: 80%;
      height: 100%;
      box-sizing: border-box;
      border: none;
      font-size: 1em;
      &:focus {
        outline: none;
      }
    }
  }

  &__icon {
    width: 15%;
    height: 30px;
    border-radius: 0 30px 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  @include mobile {
    width: 90%;
  }
}

.recipedetail {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    width: 90%;
    height: 90%;
    border-radius: 30px;
    display: flex;
    box-shadow: 0 5px 18px -7px #999;
    @include mobile {
      display: block;
      top: 15%;
      left: 40%;
    }
  }
}

.recipedetail-title {
  width: 40%;
  height: 100%;
  text-align: center;
  border-radius: 30px 0 0 30px;
  background-color: #eee;

  &__img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 30px 0 0 30px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 30px 0 0 00px;
    }
  }

  &__content {
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 2em;
      margin-bottom: 10px;
    }
    span {
      font-size: 0.8em;
      display: inline-block;
      padding-right: 10px;
    }
  }

  @include mobile {
    width: 100%;
    height: 50%;
    border-radius: 30px 30px 0 0;
    img {
      border-radius: 30px 30px 0 0;
    }
    h1 {
      font-size: 1.5em;
      font-weight: 600;
      margin-bottom: 3px;
    }
    span {
      font-size: 0.5em;
    }
  }
}

.recipedetail--manual {
  width: 60%;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 40px;

  h1 {
    font-size: 1.2em;
    font-weight: 600;
  }
  span {
    font-size: 0.8em;
    display: inline-block;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 15px;
  }

  @include mobile {
    width: 100%;
    height: 50%;
    padding: 10px 10px 15px 10px;
  }

  &__intro {
    width: 100%;
    height: 20%;
    h1 {
      text-align: center;
      margin-bottom: 0.5em;
      color: #5f8d4e;
    }
    p {
      text-align: left;
    }
    overflow: auto;

    @include mobile {
      width: 100%;
      height: 20%;
      margin-bottom: 5px;

      h1 {
        font-size: 1em;
        color: #5f8d4e;
      }
      p {
        font-size: 0.8em;
      }
      overflow: auto;
    }
  }

  &__steps {
    width: 100%;
    height: 80%;
    overflow: auto;
    h1 {
      margin-bottom: 0.5em;
      color: #5f8d4e;
    }

    @include mobile {
      width: 100%;
      height: 80%;
      overflow: auto;
      h1 {
        font-size: 1em;
        color: #5f8d4e;
      }
      p {
        font-size: 0.8em;
      }
    }
  }

  &__img {
    display: flex;
    align-items: center;
    text-align: left;
    img {
      max-width: 150px;
      margin: 0px 10px 10px 0px;
    }
  }
}
